PORT=5000
CLIENT_URL=
MONGO_URI=
MONGO_DB_NAME=
MONGO_FORCE_SEEDLIST=
MONGO_SEEDLIST_HOSTS=
MONGO_REPLICA_SET=
CLERK_SECRET_KEY=
CLERK_ADMIN_EMAILS=
CLERK_ADMIN_USER_IDS=
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
AUTO_SEED=true
